<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <title>Ritsynq Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header>
    <img src="{{ url_for('static', filename='css/logo_ritsynq.PNG') }}" alt="Logo" class="logo">
    <h1>Ritsynq Zakelijke Ritregistratie</h1>
    <p class="disclaimer">Alle gegevens blijven privé. Enkel zakelijke ritten worden verwerkt.</p>
  </header>
  <main>
    <a href="{{ url_for('index') }}" class="button">Start ritregistratie</a>
  </main>
</body>
</html>
