<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8">
  <title>Upload & Adressen</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header>
    <img src="{{ url_for('static', filename='css/logo_ritsynq.PNG') }}" class="logo">
  </header>
  <main>
    <form action="{{ url_for('index') }}" method="post" enctype="multipart/form-data">
      <label>Upload een bestand (PDF, ICS, CSV, JPG):</label>
      <input type="file" name="bestand" required><br><br>

      <label>Thuisadres:</label>
      <input type="text" name="thuisadres" required><br><br>

      <label>Kantooradres:</label>
      <input type="text" name="kantooradres" required><br><br>

      <input type="submit" value="Verwerk ritten">
    </form>
  </main>
</body>
</html>
